In [1]:
import unicodedata
import re
import json

import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

import pandas as pd
import prepare as p
import acquire as a

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/yogibexar/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/yogibexar/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     /Users/yogibexar/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In this exercise we will be defining some functions to prepare textual data. These functions should apply equally well to both the codeup blog articles and the news articles that were previously acquired.

1. Define a function named basic_clean. It should take in a string and apply some basic text cleaning to it:

- Lowercase everything
- Normalize unicode characters
- Replace anything that is not a letter, number, whitespace or a single quote.

In [2]:
string = 'Testing the function. 123!'

In [3]:
p.basic_clean(string)

'testing the function 123'


2. Define a function named tokenize. It should take in a string and tokenize all the words in the string.

In [4]:
p.tokenize(string)

'Testing the function. 123 !'


3. Define a function named stem. It should accept some text and return the text after applying stemming to all the words.

In [5]:
p.stem(string)

'test the function. 123!'


4. Define a function named lemmatize. It should accept some text and return the text after applying lemmatization to each word.

In [6]:
p.lemmatize(string)

'Testing the function. 123!'


5. Define a function named remove_stopwords. It should accept some text and return the text after removing all the stopwords.

- This function should define two optional parameters, extra_words and exclude_words. These parameters should define any additional stop words to include, and any words that we don't want to remove.

In [7]:
p.remove_stopwords(string, extra_words= 'python', exclude_words= 'the')

'Testing function. 123!'


6. Use your data from the acquire to produce a dataframe of the news articles. Name the dataframe news_df.

In [8]:
news_df = a.get_news()

In [9]:
news_df.head()

,title,content,category
0,Case filed against Gauri Khan in UP's Lucknow ...,An FIR has been filed against Gauri Khan and o...,national
1,Messi buys 35 gold iPhones worth ₹1.7 cr for W...,Argentina footballer Lionel Messi has reported...,national
2,It was mayhem: Mark Waugh on Indore pitch for ...,Former Australia batter Mark Waugh criticised ...,national
3,"Asked him for tips, he said 'At the end of the...",Australia left-arm spinner Matthew Kuhnemann h...,national
4,Mockery of Test cricket: Dilip Vengsarkar on I...,After 14 wickets fell on Day 1 of the India-Au...,national


7. Make another dataframe for the Codeup blog posts. Name the dataframe codeup_df.

In [10]:
codeup_df = a.get_blogs()


8. For each dataframe, produce the following columns:

- title to hold the title
- original to hold the original article/post content
- clean to hold the normalized and tokenized original with the stopwords removed.
- stemmed to hold the stemmed version of the cleaned data.
- lemmatized to hold the lemmatized version of the cleaned data.

In [12]:
p.prep_data(codeup_df, 'title')

,title,original,clean,stemmed,lemmatized
0,Black Excellence in Tech: Panelist Spotlight –...,Black excellence in tech: Panelist Spotlight –...,black excellence tech panelist spotlight wilma...,black excel tech panelist spotlight wilmari de...,black excellence tech panelist spotlight wilma...
1,Black excellence in tech: Panelist Spotlight –...,Black excellence in tech: Panelist Spotlight –...,black excellence tech panelist spotlight steph...,black excel tech panelist spotlight stephani jone,black excellence tech panelist spotlight steph...
2,Black excellence in tech: Panelist Spotlight –...,Black excellence in tech: Panelist Spotlight –...,black excellence tech panelist spotlight james...,black excel tech panelist spotlight jame cooper,black excellence tech panelist spotlight james...
3,Black excellence in tech: Panelist Spotlight –...,Black excellence in tech: Panelist Spotlight –...,black excellence tech panelist spotlight jeani...,black excel tech panelist spotlight jeanic fre...,black excellence tech panelist spotlight jeani...
4,Coding Bootcamp or Self-Learning? Which is Bes...,If you’re interested in embarking on a career ...,coding bootcamp selflearning best,code bootcamp selflearn best,coding bootcamp selflearning best
5,Codeup Among Top 58 Best Coding Bootcamps of 2023,Codeup is pleased to announce we have been ran...,codeup among top 58 best coding bootcamps 2023,codeup among top 58 best code bootcamp 2023,codeup among top 58 best coding bootcamps 2023

In [13]:
p.prep_data(news_df, 'title')

,title,original,clean,stemmed,lemmatized
0,Case filed against Gauri Khan in UP's Lucknow ...,An FIR has been filed against Gauri Khan and o...,case filed gauri khan ' lucknow property dispute,case file gauri khan ' lucknow properti disput,case filed gauri khan ' lucknow property dispute
1,Messi buys 35 gold iPhones worth ₹1.7 cr for W...,Argentina footballer Lionel Messi has reported...,messi buys 35 gold iphones worth 17 cr world c...,messi buy 35 gold iphon worth 17 cr world cupw...,messi buy 35 gold iphones worth 17 cr world cu...
2,It was mayhem: Mark Waugh on Indore pitch for ...,Former Australia batter Mark Waugh criticised ...,mayhem mark waugh indore pitch indiaaustralia ...,mayhem mark waugh indor pitch indiaaustralia test,mayhem mark waugh indore pitch indiaaustralia ...
3,"Asked him for tips, he said 'At the end of the...",Australia left-arm spinner Matthew Kuhnemann h...,asked tips said ' end series ' australia ' kuh...,ask tip said ' end seri ' australia ' kuhneman...,asked tip said ' end series ' australia ' kuhn...
4,Mockery of Test cricket: Dilip Vengsarkar on I...,After 14 wickets fell on Day 1 of the India-Au...,mockery test cricket dilip vengsarkar indiaaus...,mockeri test cricket dilip vengsarkar indiaaus...,mockery test cricket dilip vengsarkar indiaaus...
...,...,...,...,...,...
295,Bengaluru's Rapid Road project put on hold ove...,The Bruhat Bengaluru Mahanagara Palike (BBMP) ...,bengaluru ' rapid road project put hold paymen...,bengaluru ' rapid road project put hold paymen...,bengaluru ' rapid road project put hold paymen...
296,Bombay HC uploading Marathi translations of ju...,The Bombay High Court on Wednesday started upl...,bombay hc uploading marathi translations judgm...,bombay hc upload marathi translat judgment websit,bombay hc uploading marathi translation judgme...
297,Tragic human error caused Greece's worst train...,"Greek PM Kyriakos Mitsotakis said a ""tragic hu...",tragic human error caused greece ' worst train...,tragic human error caus greec ' worst train cr...,tragic human error caused greece ' worst train...
298,India's metal exports to be hurt by EU's carbo...,The exports of metals from India will suffer d...,india ' metal exports hurt eu ' carbon tax gtri,india ' metal export hurt eu ' carbon tax gtri,india ' metal export hurt eu ' carbon tax gtri
299,Alphabet's Waymo cuts 137 jobs to 'focus on co...,"Alphabet Inc's self-driving technology unit, W...",alphabet ' waymo cuts 137 jobs ' focus commerc...,alphabet ' waymo cut 137 job ' focu commerci s...,alphabet ' waymo cut 137 job ' focus commercia...


9. Ask yourself:

- If your corpus is 493KB, would you prefer to use stemmed or lemmatized text?

        lemmatized

- If your corpus is 25MB, would you prefer to use stemmed or lemmatized text?

        lemmatized

- If your corpus is 200TB of text and you're charged by the megabyte for your hosted computational resources, would you prefer to use stemmed or lemmatized text?

        stemmed


- - -
- - -
- - -